.title1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 100px;
	
}
.title2 {
	font-family: sans-serif;
	text-align: center;
	font-size: 75px;
	
}
body {
	 
	background: url(http://therunfactorydotcom.files.wordpress.com/2012/03/pine_forest.jpg);
}